
<table class="table">
  <thead>
    <tr>
      <th>S/N</th>
      <th>Department Name</th>
      <th>HOD Name</th>
      
    </tr>
  </thead>
  <tbody>
    <tr></tr>
  </tbody>
</table>
<div class="card-footer">
  <div class="container">
    <div class="row justify-content-end">
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a menu icon"  (click)="openDialog()">
          <mat-icon>plus_one</mat-icon>
        </button>
        <mat-hint>create Department</mat-hint>
    </div>
    </div>
  </div>
</div>
