
<table class="table animate__animated animate__flash animate__faster">
  <thead>
    <tr>
      <th>S/N</th>
      <th>Course Name</th>
      <th>Course Title</th>
      <th>Course Unit</th>
    </tr>
  </thead>
  <tbody>
    <tr></tr>
  </tbody>
</table>
<div class="card-footer">
  <div class="container">
    <div classc="row justify-content-end">
      <div class="example-button-container">
        <button mat-fab color="primary" class="animate__animated animate__flash animate__delay-2s" aria-label="Example icon button with a menu icon"  (click)="openDialog()">
          <mat-icon>plus_one</mat-icon>
        </button>
        <mat-hint>add course</mat-hint>
    </div>
    </div>
  </div>
</div>